<div class="container">
  <%if flash[:notice]%>
      <p class ="flashwow"><p>
  <%end%>
    <% @topics.each do |topic| %>
        <div class="posts-index-item">
          <div class = "topic-left"><img src="<%= "/user_images/default_user.jpg"%>"class="imageForindex" ></div>
          <div class="topic-centre">
            <div class= "UserForIndex"><%= link_to(topic.user.name,"/users/#{topic.user.id}",class:"link-delite") %></div>
            <div class="ContentForIndex"><%= link_to(topic.content,"/posts/#{topic.id}",class: "content") %></div>
          </div>
          <div class="topic-right">
　          <div class="join-box"><%= link_to("🔥Join this discussion🔥","/topics/#{topic.id}",class: "join-for")%></div>
          </div>
        </div>
    <% end %>
   </div>

  
