 <div class="box">
   <div class="form-heading">
     <h1><%=@topic.content%></h1>
     <p>~Click the opinion you agree to join the discussion~</p>
   </div>
     <div class="form-opinion-Red"> <%= link_to @topic.blue, positions_create_path(:topic_id => @topic.id, :position => "blue"), :method => 'post', class:"ao" %></div>
     <div class="form-opinion-Blue"><%= link_to @topic.red, positions_create_path(:topic_id => @topic.id, :position => "red"), :method => 'post', class:"aka" %>
   </div>
 </div>




 

  


