<%@followers.each do |follower|%>
    <div class="posts-index-item">
        <div class = "topic-left"><img src="<%= "/user_images/default_user.jpg"%>"class="imageForindex" ></div>
        <div class="topic-centre">
            <div class= "UserForIndex"><%= link_to(follower.name,"/users/#{follower.id}",class:"link-delite") %></div>
            <div class="ContentForIndex"><%=follower.nick_name%></div>
        </div>
        <div class="right">
        <% if @current_user.following?(follower) && @current_user.id != follower.id%>
　        <p>フォロー外す？</p>
        <% elsif @current_user.id != follower.id && @current_user.following?(follower) != true%>
　        <p>フォローする？</p>
        <%else%>
          <p>うんこっこ</p>
        <%end%>
        </div>
     </div>
<%end%>

