<% if @error_message %>
      <div class="error">
        <%= @error_message %>
      </div>
<% end %>

<div class="users-new">
  <div class="container">
    <div class="form-heading">SignIn</div>
    <div class="form users-form">
      <div class="form-body">      
        <%= form_tag("/users/login") do %>
          <p>User Name</p>
          <input name="name">
          <p>Password</p>
          <input type="password" name="password">
          <input type="submit" value="SignIn!">
        <% end %>
      </div>
    </div>
  </div>
</div>

