<div class="top-main" > 
  <div class="top-message">
    <h2> Start Debating </h2>
    <p>Intellectual passion drives out sensuality.</p>
  </div>
　<div class="login-box">
　　<%= link_to("Sign up","/users/new",class: "link-for")%> 
　</div>
　<div class="create-box">
　  <%= link_to("Login","/login",class: "link-for")%>
　</div>
 <div class="index-box">
　  <%= link_to("Just checking","/topics/index",class: "link-for")%>
　</div>
</div>

