<div class="top-main" > 
  <div class="top-message">
    <h2> 🔥Debate🔥 </h2>
    <p>Intellectual passion drives out sensuality.</p>
  </div>


 <% if @current_user == nil %>
　 <div class="login-box">
　　 <%= link_to("Sign up","/users/new",class: "link-for")%> 
　 </div>
　 <div class="create-box">
　   <%= link_to("Login","/login",class: "link-for")%>
　 </div>
   <div class="index-box">
　    <%= link_to("Just checking","/topics/index",class: "link-for")%>
　  </div>
  <%else%>
   <div class="for-login-user">
　    <%= link_to("To topic index.","/topics/index",class: "link-for")%>
　 </div>
 <%end%>

</div>

