
.section-title {
  text-align:center;
  border-bottom: 1.5px solid black;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.textpoint{
 text-align: center;
}

.contenta {
   width :600px;
   margin-top :10px;
   margin-bottom:30px;
   padding-left: 2px;
   padding-right: 50px;
   padding-top: 5px;
   padding-bottom: 50px;
   font-size :18px;
   color :black;
   border :1px solid black;
   height :100;

}
.contentb {
   width :600px;
   margin-top :4px;
   margin-bottom:0px;
   padding-left: 2px;
   padding-right: 50px;
   padding-top: 5px;
   padding-bottom: 50px;
   font-size :18px;
   border :1px solid black;
   height :0;
}
.contentc {
   width :600px;
   margin-top :4px;
   margin-bottom:30px;
   padding-left: 2px;
   padding-right: 50px;
   padding-top: 5px;
   padding-bottom: 50px;
   font-size :18px;
   border :1px solid black;
   height :0;
}
.iken{
  font-weight:300;
}
.taikouiken {
  font-weight:300;
}
.gidai {
  font-weight:300;
  text-align:center;
}

input {
   width :200px;
   margin-top :10px;
   margin-bottom:30px;
   padding :20px;
   font-size :18px;
   color :#dee7ec;
   border :1px solid black;

}
.contact-submit {
   font-weight: 300;
   color :black;
}



///show

.box{
  width :1000px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin-top :100px;
  margin-left :auto;
  margin-right :auto;
 }

.form-heading {
   padding :auto;
   font-weight: 300px;
   margin: 60px 0 20px;
   font-size: 20px;
   color: black;
   font-weight:bold;
   text-align: center;
 }


.form-heading p {
 color :black;
 font-weight: 300;
}

  

.form-opinion-Red{
    width :1000px;
    margin-top:100px;
    margin-bottom:40px;
    height:40px;
    border:1.5px solid black;
    float: left;
    text-align: center;
}

.form-opinion-Blue{
  width :1000px;
  height:40px;
  border:1.5px solid black;
  float: left;
  text-align: center;
}

.ao {
  padding-top :30px;
  font-size: 23px;
  text-decoration: none;
  color :blue;
  line-height: 43px;
  font-weight: 300;
}
.aka{
  padding-top :30px;
  font-size: 23px;
  text-decoration: none;
  color :red;
  line-height: 43px;
  font-weight: 300;
}


///index パクリ

.container{
position: absolute;
top: 80px;
left:0;
right:0;
}


.posts-index-item {
  width:100%;
  background-color: rgb(58, 57, 57);
  overflow: hidden;
  box-shadow: 0 2px 6px #266fa3;
  max-height: 100px;
}

.topic-left{
  float: left;
  width: 10%;
  height:10px;
  padding-top:10px;
}
.imageForindex{
  border-radius: 50%; 
  width:  80px;       
  height: 80px;
}

.topic-centre {
  width: 40%;
  margin-top: 30px;
  float: left;
  padding-left: 25px;
  text-align: left;
  color :whitesmoke;
}

.topic-right {
  width: 40%;
  height: 100px;
  margin-top: 10px;
  padding-left: 110px;
  color: whitesmoke;
  overflow: hidden;
  position: relative;
}

.join-box {
 width: 300px;
 border: 1.5px solid rgb(27, 27, 27);
 border-radius: 200px;
 position: absolute;
 float:left
}

.join-for {
  text-decoration: none;
  color :rgb(146, 145, 145);
  line-height: 40px;
}

.link-delite {
  text-decoration: none;
  color :whitesmoke;
}

.content {
  text-decoration: none ;
  color: whitesmoke;
}


