
  /* users/new, users/edit ================================ */
  .input {
    margin-bottom: 15px;
  }

  .container {
    margin: 60px auto;
    clear: both;
  }

  .user_name_at{
    text-align: center;

  }
 .namearea {
   margin: 10px auto;
   margin-bottom: 100px;
   text-align: center;
   width: 100%;
   
 }
 .namearea-for{
  font-size: 40px;
}

 .henshu {
   text-decoration: none;
   color :black;
   
 }


.usernameedit{
  text-decoration: none;
  color :black;
}

////// nickname



.nicknamearea-for{
display: inline-block;

}

.nicknameLink{
  color: black;
  font-weight: normal;
}