
  /* users/new, users/edit ================================ */
  ////
.cont{
  position: absolute;
  right:50px;
}

.buttunleft{
  width :200px;
  height:40px;
  border:1.5px solid  rgb(58, 57, 57);
  display: inline-block;
  border-radius: 20px;
  margin-top:30px 
}

.buttuninit{
  text-decoration: none;
  color: rgb(58, 57, 57);
  font-size: 30px;
  font-weight: nomal;
}

.rights{
  padding-left: 1300px;
  margin-bottom: 100px;
}
  
  
  .input {
    margin-bottom: 15px;
  }

  .user_name_at{
    text-align: center;

  }
 .namearea {
   margin-top: 10px;
 
   text-align: center;
   width: 100%;
 }
 .namearea-for{
  font-size: 25px;
}

 .henshu {
   text-decoration: none;
   color :black;
   
 }


.usernameedit{
  text-decoration: none;
  color :black;
}


////justforname
.justforname{
 text-align: center;
}


.justfornickname{
  margin-bottom: 0;
}
////follow

.relation{
  text-align: center;
}

.followers{
  display: inline-block;
  margin-right:10px;
  font-size:15px;
  font-weight: bold;
  text-align: center;
}

.following {
  display: inline-block;
  font-size:15px;
  font-weight: bold;
}


.countForFollow{
  display: inline-block;
  
}
.sentence{
  display: inline-block;
  font-weight:normal;
}

// nickname


.nicknamearea-for{
display: inline-block;
font-size: 15px;
}

.nicknameLink{
  color: black;
  font-weight: normal;
}



//picture
.imageForShow {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  150px;       /* ※縦横を同値に */
  height: 150px;       /* ※縦横を同値に */
}


.picture{
  display: inline-block;
}

.count{
  text-decoration: none;
  color:  rgb(58, 57, 57);
}



/////

.Follow{
  width :100px;
  border:1.5px solid rgb(146, 145, 145);
  margin-top: 40px;
  margin-bottom: 70px;
  border-radius: 20px;
  position: absolute;
  margin-left: 500px;
  float:left
}

.follow-place{
  text-decoration: none;
  color: white;
}